<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= subtitle %></p>
    <table border="1">
    	<tr>
    		<td>tipo reclamo</td>
    		<td>observacion</td>
    		<td>Fecha observacion</td>
       	</tr>
       	<tr>
       		<td><%= reclamo.tiporeclamo %></td>
       		<td><%= reclamo.observacion %></td>	
       		<td><%= reclamo.fechareclamo %>	</td>
       	
       	</tr>
    		
    </table>
  </body>
</html>
